@import "~src/styles";

.summary-container {
  width: $summary-container-width;

  div {
    text-align: right;
    margin-top: 10px;
    margin-right: 25px;
  }

  .discount-text {
    color: red;
  }
}
